Hello! I'm Esmond Oise-Amu, a 100-level Software Engineering student at VUG
(matric number VUG/SEN/24/11201). I'm passionate about design and technology,
and I chose software engineering because I love creating experiences that combine
functionality with beautiful user interfaces.

<br><br>

As a UI/UX Designer and aspiring full-stack developer, I’m building a foundation
that blends creative design with solid technical skills. I believe great software
should not only work well but also feel great to use. Let’s build something amazing together.
